In [1]:
from azureml.core.authentication import AzureCliAuthentication
from azureml.core.workspace import Workspace
import pandas as pd

cli_auth = AzureCliAuthentication()
ws = Workspace.from_config(auth=cli_auth)
ws.get_details()

output = {}
output['SDK version'] = azureml.core.VERSION
output['Subscription ID'] = ws.subscription_id
output['Workspace'] = ws.name
output['Resource Group'] = ws.resource_group
output['Location'] = ws.location
pd.set_option('display.max_colwidth', -1)
outputDf = pd.DataFrame(data = output, index = [''])
outputDf.T

SDK version      1.2.0
Subscription ID  b9f1c816-0637-419c-b0f6-a8392690c7aa
Workspace        paydmlws91
Resource Group   paydmlrg91
Location         westeurope

### Load the Data - local
We can load the payments dataset we want to score from csv files locally. The data as been processed to only contains features needed to do the scoring. This appoach allows the data to be in different files which are all collected into one dataset and then scored.

In [2]:
import glob
import pandas as pd

#path = r'C:\DRO\DCL_rawdata_files' # use your path
all_files = glob.glob("./data/ml_scoring_input/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
    print(f"Loading.. {filename}")

df = pd.concat(li, axis=0, ignore_index=True)


# preview the first 3 rows of the dataset
print(f"Loaded {len(df.index)} rows.")

df.head(3)

Loading.. ./data/ml_scoring_input\UCI_Credit_Card_INPUT_1.csv
Loading.. ./data/ml_scoring_input\UCI_Credit_Card_INPUT_2.csv
Loading.. ./data/ml_scoring_input\UCI_Credit_Card_INPUT_3.csv
Loaded 25 rows.

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,260000.0,2,1,2,51,-1,-1,-1,-1,-1,...,9966,8517,22287,13668,21818,9966,8583,22301,0,3640
1,630000.0,2,2,2,41,-1,0,-1,-1,-1,...,6500,6500,6500,2870,1000,6500,6500,6500,2870,0
2,250000.0,1,1,2,29,0,0,0,0,0,...,63561,59696,56875,55512,3000,3000,3000,3000,3000,3000

In [3]:
from azureml.core.model import Model
import json

keyvault = ws.get_default_keyvault()
model_info = json.loads(keyvault.get_secret(name="PAYMENTSMODEL"))

model_name = model_info['NAME']
model = Model(ws, model_name)
model

Model(workspace=Workspace.create(name='paydmlws91', subscription_id='b9f1c816-0637-419c-b0f6-a8392690c7aa', resource_group='paydmlrg91'), name=AutoMLc50723a2133, id=AutoMLc50723a2133:2, version=2, tags={'area': 'risk', 'type': 'classification'}, properties={'Code': 'https://github.com/riedwaanb/DefaultPayments'})

In [4]:
from azureml.core.conda_dependencies import CondaDependencies
from azureml.core.environment import Environment
from azureml.core.model import InferenceConfig

environment = Environment("LocalDeploy")
environment.python.conda_dependencies = CondaDependencies("inference/env.yml")

inference_config = InferenceConfig(entry_script="inference/score.py",
                                   environment=environment)

### Deploy Model as a Local Docker Web Service
Make sure you have Docker installed and running.

Note that the service creation can take quite a few minutes... be patient. 

NOTE:
The Docker image runs as a Linux container. If you are running Docker for Windows, you need to ensure the Linux Engine is running:

#### PowerShell command to switch to Linux engine
& 'C:\Program Files\Docker\Docker\DockerCli.exe' -SwitchLinuxEngine

In [5]:
from azureml.core.webservice import LocalWebservice

# This is optional but recommended, if not provided Docker will choose a random unused port
deployment_config = LocalWebservice.deploy_configuration(port=6789)

local_service = Model.deploy(ws, "default-payments", [model], inference_config, deployment_config)

local_service.wait_for_deployment()

Downloading model AutoMLc50723a2133:2 to C:\Users\riedwaab\AppData\Local\Temp\azureml_qjjhhaym\AutoMLc50723a2133\2
Generating Docker build context.
Package creation Succeeded
Logging into Docker registry paydmlws918ef0ad0f.azurecr.io
Logging into Docker registry paydmlws918ef0ad0f.azurecr.io
Building Docker image from Dockerfile...
Step 1/5 : FROM paydmlws918ef0ad0f.azurecr.io/azureml/azureml_48a4ac85e4690e5ca62e99f1e0611fb1
 ---> 54ac75b7aeb1
Step 2/5 : COPY azureml-app /var/azureml-app
 ---> 0d878b1891ac
Step 3/5 : RUN mkdir -p '/var/azureml-app' && echo eyJhY2NvdW50Q29udGV4dCI6eyJzdWJzY3JpcHRpb25JZCI6ImI5ZjFjODE2LTA2MzctNDE5Yy1iMGY2LWE4MzkyNjkwYzdhYSIsInJlc291cmNlR3JvdXBOYW1lIjoicGF5ZG1scmc5MSIsImFjY291bnROYW1lIjoicGF5ZG1sd3M5MSIsIndvcmtzcGFjZUlkIjoiZjYwOGQ3NzMtMjhkNy00NzdhLWE2Y2QtMWFkMjliMTJlNTY0In0sIm1vZGVscyI6e30sIm1vZGVsc0luZm8iOnt9fQ== | base64 --decode > /var/azureml-app/model_config_map.json
 ---> Running in f8e61b928305
 ---> aa5c86b5b80c
Step 4/5 : RUN mv '/var/azureml-app/tmprfpsyw47.py' /var/azureml-app/main.py
 ---> Running in 221b9d4fd474
 ---> a15b16cf91b1
Step 5/5 : CMD ["runsvdir","/var/runit"]
 ---> Running in 95a9188149a6
 ---> 9e8abf0f9c2e
Successfully built 9e8abf0f9c2e
Successfully tagged default-payments:latest
Starting Docker container...
Docker container running.
Checking container health...
Local webservice is running at http://localhost:6789

#### Retrieve the Webservice Port
If you need to call the webservice without the AzureML SDK, use this following port.

In [6]:
print('Local service port: {}'.format(local_service.port))

Local service port: 6789

### Score the data
Loop through the dataframe scoring chunks of data at a time

In [7]:
chunck_size = 10
scores = []

# Calculate and return the next chunck
def chunker(seq, size):
    return (seq[pos:pos + size] for pos in range(0, len(seq), size))

# Loop through all the Chuncks
for i in chunker(df, chunck_size):
    input_data = i.to_json(orient='records')              # Convert to json using rows
    input_data = f'{{"data" : {input_data}}}'             # The webservice is expecting this format
    print(f"Scoring:\n{input_data}")
    score_input = bytes(input_data, encoding='utf-8')     # Ensure its encoded correctly
    resp = local_service.run(input_data=score_input)      # Call the webservice
    score_output = json.loads(resp).get("result")         # retrieve the score from the format: {'result': [0]}
    print(f"Recieved:\n{score_output}\n----------------------------")
    scores.extend(score_output)                           # Built a scores array

df['score'] = scores                                      # Create the score column with all the scores
print(f"All Scores:\n{scores}")

Scoring:
{"data" : [{"LIMIT_BAL":260000.0,"SEX":2,"EDUCATION":1,"MARRIAGE":2,"AGE":51,"PAY_0":-1,"PAY_2":-1,"PAY_3":-1,"PAY_4":-1,"PAY_5":-1,"PAY_6":2,"BILL_AMT1":12261,"BILL_AMT2":21670,"BILL_AMT3":9966,"BILL_AMT4":8517,"BILL_AMT5":22287,"BILL_AMT6":13668,"PAY_AMT1":21818,"PAY_AMT2":9966,"PAY_AMT3":8583,"PAY_AMT4":22301,"PAY_AMT5":0,"PAY_AMT6":3640},{"LIMIT_BAL":630000.0,"SEX":2,"EDUCATION":2,"MARRIAGE":2,"AGE":41,"PAY_0":-1,"PAY_2":0,"PAY_3":-1,"PAY_4":-1,"PAY_5":-1,"PAY_6":-1,"BILL_AMT1":12137,"BILL_AMT2":6500,"BILL_AMT3":6500,"BILL_AMT4":6500,"BILL_AMT5":6500,"BILL_AMT6":2870,"PAY_AMT1":1000,"PAY_AMT2":6500,"PAY_AMT3":6500,"PAY_AMT4":6500,"PAY_AMT5":2870,"PAY_AMT6":0},{"LIMIT_BAL":250000.0,"SEX":1,"EDUCATION":1,"MARRIAGE":2,"AGE":29,"PAY_0":0,"PAY_2":0,"PAY_3":0,"PAY_4":0,"PAY_5":0,"PAY_6":0,"BILL_AMT1":70887,"BILL_AMT2":67060,"BILL_AMT3":63561,"BILL_AMT4":59696,"BILL_AMT5":56875,"BILL_AMT6":55512,"PAY_AMT1":3000,"PAY_AMT2":3000,"PAY_AMT3":3000,"PAY_AMT4":3000,"PAY_AMT5":3000,"PAY_AMT6":3000},{"LIMIT_BAL":50000.0,"SEX":2,"EDUCATION":3,"MARRIAGE":3,"AGE":23,"PAY_0":1,"PAY_2":2,"PAY_3":0,"PAY_4":0,"PAY_5":0,"PAY_6":0,"BILL_AMT1":50614,"BILL_AMT2":29173,"BILL_AMT3":28116,"BILL_AMT4":28771,"BILL_AMT5":29531,"BILL_AMT6":30211,"PAY_AMT1":0,"PAY_AMT2":1500,"PAY_AMT3":1100,"PAY_AMT4":1200,"PAY_AMT5":1300,"PAY_AMT6":1100},{"LIMIT_BAL":130000.0,"SEX":2,"EDUCATION":3,"MARRIAGE":2,"AGE":39,"PAY_0":0,"PAY_2":0,"PAY_3":0,"PAY_4":0,"PAY_5":0,"PAY_6":-1,"BILL_AMT1":38358,"BILL_AMT2":27688,"BILL_AMT3":24489,"BILL_AMT4":20616,"BILL_AMT5":11802,"BILL_AMT6":930,"PAY_AMT1":3000,"PAY_AMT2":1537,"PAY_AMT3":1000,"PAY_AMT4":2000,"PAY_AMT5":930,"PAY_AMT6":33764},{"LIMIT_BAL":70000.0,"SEX":2,"EDUCATION":2,"MARRIAGE":2,"AGE":26,"PAY_0":2,"PAY_2":0,"PAY_3":0,"PAY_4":2,"PAY_5":2,"PAY_6":2,"BILL_AMT1":41087,"BILL_AMT2":42445,"BILL_AMT3":45020,"BILL_AMT4":44006,"BILL_AMT5":46905,"BILL_AMT6":46012,"PAY_AMT1":2007,"PAY_AMT2":3582,"PAY_AMT3":0,"PAY_AMT4":3601,"PAY_AMT5":0,"PAY_AMT6":1820},{"LIMIT_BAL":450000.0,"SEX":2,"EDUCATION":1,"MARRIAGE":1,"AGE":40,"PAY_0":-2,"PAY_2":-2,"PAY_3":-2,"PAY_4":-2,"PAY_5":-2,"PAY_6":-2,"BILL_AMT1":5512,"BILL_AMT2":19420,"BILL_AMT3":1473,"BILL_AMT4":560,"BILL_AMT5":0,"BILL_AMT6":0,"PAY_AMT1":19428,"PAY_AMT2":1473,"PAY_AMT3":560,"PAY_AMT4":0,"PAY_AMT5":0,"PAY_AMT6":1128},{"LIMIT_BAL":90000.0,"SEX":1,"EDUCATION":1,"MARRIAGE":2,"AGE":23,"PAY_0":0,"PAY_2":0,"PAY_3":0,"PAY_4":-1,"PAY_5":0,"PAY_6":0,"BILL_AMT1":4744,"BILL_AMT2":7070,"BILL_AMT3":0,"BILL_AMT4":5398,"BILL_AMT5":6360,"BILL_AMT6":8292,"PAY_AMT1":5757,"PAY_AMT2":0,"PAY_AMT3":5398,"PAY_AMT4":1200,"PAY_AMT5":2045,"PAY_AMT6":2000},{"LIMIT_BAL":50000.0,"SEX":1,"EDUCATION":3,"MARRIAGE":2,"AGE":23,"PAY_0":0,"PAY_2":0,"PAY_3":0,"PAY_4":0,"PAY_5":0,"PAY_6":0,"BILL_AMT1":47620,"BILL_AMT2":41810,"BILL_AMT3":36023,"BILL_AMT4":28967,"BILL_AMT5":29829,"BILL_AMT6":30046,"PAY_AMT1":1973,"PAY_AMT2":1426,"PAY_AMT3":1001,"PAY_AMT4":1432,"PAY_AMT5":1062,"PAY_AMT6":997},{"LIMIT_BAL":50000.0,"SEX":2,"EDUCATION":3,"MARRIAGE":1,"AGE":47,"PAY_0":-1,"PAY_2":-1,"PAY_3":-1,"PAY_4":-1,"PAY_5":-1,"PAY_6":-1,"BILL_AMT1":650,"BILL_AMT2":3415,"BILL_AMT3":3416,"BILL_AMT4":2040,"BILL_AMT5":30430,"BILL_AMT6":257,"PAY_AMT1":3415,"PAY_AMT2":3421,"PAY_AMT3":2044,"PAY_AMT4":30430,"PAY_AMT5":257,"PAY_AMT6":0}]}
Recieved:
[0, 0, 0, 0, 0, 1, 0, 0, 0, 0]
----------------------------
Scoring:
{"data" : [{"LIMIT_BAL":50000.0,"SEX":1,"EDUCATION":1,"MARRIAGE":2,"AGE":26,"PAY_0":0,"PAY_2":0,"PAY_3":0,"PAY_4":0,"PAY_5":0,"PAY_6":0,"BILL_AMT1":15329,"BILL_AMT2":16575,"BILL_AMT3":17496,"BILL_AMT4":17907,"BILL_AMT5":18375,"BILL_AMT6":11400,"PAY_AMT1":1500,"PAY_AMT2":1500,"PAY_AMT3":1000,"PAY_AMT4":1000,"PAY_AMT5":1600,"PAY_AMT6":0},{"LIMIT_BAL":230000.0,"SEX":2,"EDUCATION":1,"MARRIAGE":2,"AGE":27,"PAY_0":-1,"PAY_2":-1,"PAY_3":-1,"PAY_4":-1,"PAY_5":-1,"PAY_6":-1,"BILL_AMT1":16646,"BILL_AMT2":17265,"BILL_AMT3":13266,"BILL_AMT4":15339,"BILL_AMT5":14307,"BILL_AMT6":36923,"PAY_AMT1":17270,"PAY_AMT2":13281,"PAY_AMT3":15339,"PAY_AMT4":14307,"PAY_AMT5":37292,"PAY_AMT6":0},{"LIMIT_BAL":100000.0,"SEX":1,"EDUCATION":1,"MARRIAGE":2,"AGE":32,"PAY_0":0,"PAY_2":0,"PAY_3":0,"PAY_4":0,"PAY_5":0,"PAY_6":0,"BILL_AMT1":93036,"BILL_AMT2":84071,"BILL_AMT3":82880,"BILL_AMT4":80958,"BILL_AMT5":78703,"BILL_AMT6":75589,"PAY_AMT1":3023,"PAY_AMT2":3511,"PAY_AMT3":3302,"PAY_AMT4":3204,"PAY_AMT5":3200,"PAY_AMT6":2504},{"LIMIT_BAL":500000.0,"SEX":2,"EDUCATION":2,"MARRIAGE":1,"AGE":54,"PAY_0":-2,"PAY_2":-2,"PAY_3":-2,"PAY_4":-2,"PAY_5":-2,"PAY_6":-2,"BILL_AMT1":10929,"BILL_AMT2":4152,"BILL_AMT3":22722,"BILL_AMT4":7521,"BILL_AMT5":71439,"BILL_AMT6":8981,"PAY_AMT1":4152,"PAY_AMT2":22827,"PAY_AMT3":7521,"PAY_AMT4":71439,"PAY_AMT5":981,"PAY_AMT6":51582},{"LIMIT_BAL":130000.0,"SEX":1,"EDUCATION":1,"MARRIAGE":2,"AGE":34,"PAY_0":0,"PAY_2":0,"PAY_3":0,"PAY_4":0,"PAY_5":0,"PAY_6":0,"BILL_AMT1":23292,"BILL_AMT2":14077,"BILL_AMT3":15546,"BILL_AMT4":108047,"BILL_AMT5":93708,"BILL_AMT6":97353,"PAY_AMT1":3000,"PAY_AMT2":2000,"PAY_AMT3":93000,"PAY_AMT4":4000,"PAY_AMT5":5027,"PAY_AMT6":4005},{"LIMIT_BAL":250000.0,"SEX":1,"EDUCATION":1,"MARRIAGE":1,"AGE":34,"PAY_0":0,"PAY_2":0,"PAY_3":0,"PAY_4":0,"PAY_5":0,"PAY_6":0,"BILL_AMT1":279640,"BILL_AMT2":252913,"BILL_AMT3":243075,"BILL_AMT4":245750,"BILL_AMT5":175005,"BILL_AMT6":179687,"PAY_AMT1":65000,"PAY_AMT2":8800,"PAY_AMT3":9011,"PAY_AMT4":6000,"PAY_AMT5":7000,"PAY_AMT6":6009},{"LIMIT_BAL":150000.0,"SEX":1,"EDUCATION":1,"MARRIAGE":2,"AGE":35,"PAY_0":-1,"PAY_2":-1,"PAY_3":-1,"PAY_4":-1,"PAY_5":-1,"PAY_6":-2,"BILL_AMT1":3425,"BILL_AMT2":9009,"BILL_AMT3":-3,"BILL_AMT4":780,"BILL_AMT5":0,"BILL_AMT6":0,"PAY_AMT1":9054,"PAY_AMT2":0,"PAY_AMT3":783,"PAY_AMT4":0,"PAY_AMT5":0,"PAY_AMT6":0},{"LIMIT_BAL":140000.0,"SEX":1,"EDUCATION":2,"MARRIAGE":1,"AGE":41,"PAY_0":0,"PAY_2":0,"PAY_3":0,"PAY_4":0,"PAY_5":0,"PAY_6":0,"BILL_AMT1":138325,"BILL_AMT2":137142,"BILL_AMT3":139110,"BILL_AMT4":138262,"BILL_AMT5":49675,"BILL_AMT6":46121,"PAY_AMT1":6000,"PAY_AMT2":7000,"PAY_AMT3":4228,"PAY_AMT4":1505,"PAY_AMT5":2000,"PAY_AMT6":2000},{"LIMIT_BAL":210000.0,"SEX":1,"EDUCATION":2,"MARRIAGE":1,"AGE":34,"PAY_0":3,"PAY_2":2,"PAY_3":2,"PAY_4":2,"PAY_5":2,"PAY_6":2,"BILL_AMT1":2500,"BILL_AMT2":2500,"BILL_AMT3":2500,"BILL_AMT4":2500,"BILL_AMT5":2500,"BILL_AMT6":2500,"PAY_AMT1":0,"PAY_AMT2":0,"PAY_AMT3":0,"PAY_AMT4":0,"PAY_AMT5":0,"PAY_AMT6":0},{"LIMIT_BAL":10000.0,"SEX":1,"EDUCATION":3,"MARRIAGE":1,"AGE":43,"PAY_0":0,"PAY_2":0,"PAY_3":0,"PAY_4":-2,"PAY_5":-2,"PAY_6":-2,"BILL_AMT1":8802,"BILL_AMT2":10400,"BILL_AMT3":0,"BILL_AMT4":0,"BILL_AMT5":0,"BILL_AMT6":0,"PAY_AMT1":2000,"PAY_AMT2":0,"PAY_AMT3":0,"PAY_AMT4":0,"PAY_AMT5":0,"PAY_AMT6":0}]}
Recieved:
[0, 0, 0, 0, 0, 0, 0, 0, 1, 0]
----------------------------
Scoring:
{"data" : [{"LIMIT_BAL":100000.0,"SEX":1,"EDUCATION":1,"MARRIAGE":2,"AGE":38,"PAY_0":0,"PAY_2":-1,"PAY_3":-1,"PAY_4":0,"PAY_5":0,"PAY_6":0,"BILL_AMT1":3042,"BILL_AMT2":1427,"BILL_AMT3":102996,"BILL_AMT4":70626,"BILL_AMT5":69473,"BILL_AMT6":55004,"PAY_AMT1":2000,"PAY_AMT2":111784,"PAY_AMT3":4000,"PAY_AMT4":3000,"PAY_AMT5":2000,"PAY_AMT6":2000},{"LIMIT_BAL":80000.0,"SEX":1,"EDUCATION":2,"MARRIAGE":2,"AGE":34,"PAY_0":2,"PAY_2":2,"PAY_3":2,"PAY_4":2,"PAY_5":2,"PAY_6":2,"BILL_AMT1":72557,"BILL_AMT2":77708,"BILL_AMT3":79384,"BILL_AMT4":77519,"BILL_AMT5":82607,"BILL_AMT6":81158,"PAY_AMT1":7000,"PAY_AMT2":3500,"PAY_AMT3":0,"PAY_AMT4":7000,"PAY_AMT5":0,"PAY_AMT6":4000},{"LIMIT_BAL":220000.0,"SEX":1,"EDUCATION":3,"MARRIAGE":1,"AGE":39,"PAY_0":0,"PAY_2":0,"PAY_3":0,"PAY_4":0,"PAY_5":0,"PAY_6":0,"BILL_AMT1":188948,"BILL_AMT2":192815,"BILL_AMT3":208365,"BILL_AMT4":88004,"BILL_AMT5":31237,"BILL_AMT6":15980,"PAY_AMT1":8500,"PAY_AMT2":20000,"PAY_AMT3":5003,"PAY_AMT4":3047,"PAY_AMT5":5000,"PAY_AMT6":1000},{"LIMIT_BAL":150000.0,"SEX":1,"EDUCATION":3,"MARRIAGE":2,"AGE":43,"PAY_0":-1,"PAY_2":-1,"PAY_3":-1,"PAY_4":-1,"PAY_5":0,"PAY_6":0,"BILL_AMT1":1683,"BILL_AMT2":1828,"BILL_AMT3":3502,"BILL_AMT4":8979,"BILL_AMT5":5190,"BILL_AMT6":0,"PAY_AMT1":1837,"PAY_AMT2":3526,"PAY_AMT3":8998,"PAY_AMT4":129,"PAY_AMT5":0,"PAY_AMT6":0},{"LIMIT_BAL":30000.0,"SEX":1,"EDUCATION":2,"MARRIAGE":2,"AGE":37,"PAY_0":4,"PAY_2":3,"PAY_3":2,"PAY_4":-1,"PAY_5":0,"PAY_6":0,"BILL_AMT1":3565,"BILL_AMT2":3356,"BILL_AMT3":2758,"BILL_AMT4":20878,"BILL_AMT5":20582,"BILL_AMT6":19357,"PAY_AMT1":0,"PAY_AMT2":0,"PAY_AMT3":22000,"PAY_AMT4":4200,"PAY_AMT5":2000,"PAY_AMT6":3100}]}

Recieved:
[0, 1, 0, 0, 1]
----------------------------
All Scores:
[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1]

In [8]:
df.head(3)

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,score
0,260000.0,2,1,2,51,-1,-1,-1,-1,-1,...,8517,22287,13668,21818,9966,8583,22301,0,3640,0
1,630000.0,2,2,2,41,-1,0,-1,-1,-1,...,6500,6500,2870,1000,6500,6500,6500,2870,0,0
2,250000.0,1,1,2,29,0,0,0,0,0,...,59696,56875,55512,3000,3000,3000,3000,3000,3000,0

### Filter to see only payments with score = 1

In [9]:
scored = df.loc[df['score'] == 1]
scored

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,score
5,70000.0,2,2,2,26,2,0,0,2,2,...,44006,46905,46012,2007,3582,0,3601,0,1820,1
18,210000.0,1,2,1,34,3,2,2,2,2,...,2500,2500,2500,0,0,0,0,0,0,1
21,80000.0,1,2,2,34,2,2,2,2,2,...,77519,82607,81158,7000,3500,0,7000,0,4000,1
24,30000.0,1,2,2,37,4,3,2,-1,0,...,20878,20582,19357,0,0,22000,4200,2000,3100,1

### Save Scored Data Locally

In [10]:
import time
filename = time.strftime("./data/ml_scoring_output/scored-%Y%m%d-%H%M%S.csv")
scored.to_csv(filename)